Repository NoelLincoln/SIL-FRONTEND_ASSESSMENT: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "client/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "client/**/*.{css,scss,sass,less,styled.css}": ["stylelint --fix", "prettier --write"],
  "backend/**/*.ts": ["eslint --fix", "prettier --write"]
}

fix(lint): properly configure ESLint for Node.js and TypeScript
  eslint.config.js
Due: none

feat: extend Express Request type to include user field
  backend/src/types/express.d.ts
Due: eslint --fix, prettier --write

feat(userService): Add functions to get and create users by GitHub ID
  backend/src/controllers/userController.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/userService.ts
Due: eslint --fix, prettier --write

chore(linting): Update lint-staged and ESLint configuration
  .lintstagedrc.json
  eslint.config.js
Due: none

Create prisma schema for application models.
  backend/prisma/schema.prisma
Due: none

feat(auth): Implement GitHub OAuth with Passport and Prisma
  backend/src/app.ts
Due: eslint --fix, prettier --write

feat: Set up authentication and improve backend services
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20241126045059_init/migration.sql
  backend/prisma/migrations/20241126052959_add_github_auth/migration.sql
  backend/prisma/migrations/20241126055631_make_password_optional_in_user_model/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/yarn.lock
  package.json
  vercel.json
  yarn.lock
Due: none

fix(vercel): update deployment configuration to use @vercel/static-build for Vite app
  vercel.json
Due: none

Implement user module, controllers, services, routes.
  backend/src/app.ts
  backend/src/config/passportConfig.ts
  backend/src/controllers/userController.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/userService.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Write unit tests for user routes using jest and supertest.
  .babelrc
  .husky/pre-commit
  backend/babel.config.json
  backend/jest.config.ts
  backend/package.json
  backend/src/app.ts
  backend/src/routes/userRoutes.ts
  backend/tests/userRoutes.test.ts
  backend/tsconfig.json
  backend/yarn.lock
  eslint.config.js
  jest.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: Implement album module with services, controllers, and tests
  backend/src/app.ts
  backend/src/controllers/albumController.ts
  backend/src/routes/albumRoutes.ts
  backend/src/services/albumService.ts
  backend/tests/albumRoutes.test.ts
  backend/tests/userRoutes.test.ts
Due: eslint --fix, prettier --write

fix: update coverage configuration to use @vitest/coverage-v8
  client/package.json
  client/vitest.config.ts
  client/yarn.lock
Due: eslint --fix, prettier --write

feat: Integrate photo service with Cloudinary and PostgreSQL
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/photoController.ts
  backend/src/routes/photoRoutes.ts
  backend/src/services/__mocks__/cloudinary.ts
  backend/src/services/cloudinaryService.ts
  backend/src/services/photoService.ts
  backend/src/types/express.d.ts
  backend/src/utils/multer.ts
  backend/tests/mock-image.jpg
  backend/tests/photoRoutes.test.ts
  backend/uploads/1732694758939-mock-image.jpg
  backend/uploads/1732694759032-mock-image.jpg
  backend/uploads/1732694759109-mock-image.jpg
  backend/uploads/image-1732625773793.jpg
  backend/uploads/image-1732626749752.jpg
  backend/yarn.lock
Due: eslint --fix, prettier --write

feat: add test job to GitHub Actions workflow before linters
  .github/workflows/linters.yml
Due: none

feat: implement user authentication with Passport and set up client landing page
  backend/package.json
  backend/src/app.ts
  backend/src/config/passportConfig.ts
  backend/src/controllers/userController.ts
  backend/src/routes/authRoutes.ts
  backend/src/services/userService.ts
  backend/yarn.lock
  client/package.json
  client/src/App.tsx
  client/src/components/LandingPage.tsx
  client/src/components/LoginPage.tsx
  client/vite.config.ts
  client/yarn.lock
Due: eslint --fix, prettier --write

Remove package lock json conflicting with yarn.lock
  backend/package-lock.json
Due: none

update node version in github action.
  .github/workflows/linters.yml
Due: none

Fix: Resolve TypeScript error add node type to client
  client/package.json
  client/yarn.lock
Due: none

feat: Update GitHub Actions workflow to use root package.json for tests
  .github/workflows/linters.yml
Due: none

Fix: Correct install script.
  package.json
Due: none

feat: Update GitHub Actions workflow to include environment variables
  .github/workflows/linters.yml
  backend/src/config/passportConfig.ts
Due: eslint --fix, prettier --write

Update node version in lint step.
  .github/workflows/linters.yml
Due: none

Temporarily disable commitlint.
  .github/workflows/linters.yml
Due: none

Exclude test files from build process.
  backend/.gitignore
  backend/tsconfig.json
  backend/vercel.json
  client/.gitignore
Due: none

fix: Resolve deployment and authentication issues on Vercel
  .gitignore
  backend/vercel.json
  client/vercel.json
Due: none

Install supertest in the backend for render deployment.
  backend/.gitignore
  backend/package.json
  backend/vercel.json
  backend/yarn.lock
Due: none

Configure passport callback url.
  backend/src/config/passportConfig.ts
  backend/src/routes/authRoutes.ts
Due: eslint --fix, prettier --write

fix: dynamically redirect users to appropriate frontend URL based on environment
  backend/package.json
  backend/src/config/passportConfig.ts
  backend/src/routes/authRoutes.ts
  backend/src/types/passport.d.ts
  backend/yarn.lock
  client/src/components/LandingPage.tsx
Due: eslint --fix, prettier --write

feat: Enhance mobile menu with improved styles and transitions
  client/index.html
  client/package.json
  client/postcss.config.js
  client/public/images/background-image-auth.jpg
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/Home.tsx
  client/src/components/LandingPage.tsx
  client/src/components/LoginPage.tsx
  client/src/components/MobileMenu.tsx
  client/src/index.css
  client/tailwind.config.ts
  client/yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat(header): fetch and display logged-in user's email dynamically
  backend/src/app.ts
  backend/src/routes/authRoutes.ts
  client/index.html
  client/public/images/background-image-auth.jpg
  client/public/images/favicon.png
  client/src/components/Header.tsx
Due: eslint --fix, prettier --write

feat: Add UserDetails page with user info and albums fetching.
  backend/tests/albumRoutes.test.ts
  client/src/App.tsx
  client/src/components/Home.tsx
  client/src/components/UserCard.tsx
  client/src/components/UserDetails.tsx
Due: eslint --fix, prettier --write

feat: Enhance UserDetails page layout: Add a horizontal rule to separate user details and album sections with distinct styling.
  client/src/components/UserDetails.tsx
Due: eslint --fix, prettier --write

feat: Refactor Header component to separate mobile menu and improve responsiveness
  client/src/components/Header.tsx
  client/src/components/UserDetails.tsx
Due: eslint --fix, prettier --write

Update Albums component and backend to handle user ID fetching and album creation
  backend/.gitignore
  backend/src/config/cloudinaryConfig.ts
  backend/src/controllers/albumController.ts
  backend/src/routes/albumRoutes.ts
  backend/src/routes/authRoutes.ts
  backend/src/services/albumService.ts
  client/src/App.tsx
  client/src/components/Albums.tsx
  client/src/components/Header.tsx
Due: eslint --fix, prettier --write

Remove unused email data from request.
  client/src/components/Albums.tsx
  package-lock.json
  yarn.lock
Due: eslint --fix, prettier --write

Add button to create an album in albums page.
  client/src/components/Albums.tsx
Due: eslint --fix, prettier --write

Disconnect prisma client after test.
  backend/tests/albumRoutes.test.ts
Due: eslint --fix, prettier --write

test: Fix album controller tests with user ID setup and mock data
  albumRoutes.test.ts
Due: none

feat: Add comprehensive test suite for Photo Controller.
  backend/src/controllers/photoController.ts
  backend/src/routes/photoRoutes.ts
  backend/src/services/photoService.ts
  backend/tsconfig.json
  photoRoutes.test.ts
Due: eslint --fix, prettier --write
